* {
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
:root {
  --mainhead: "Lobster", cursive;
  --para-special: "Questrial", sans-serif;
  --para-all: "Kanit", sans-serif;
  --bodytext: 'Baloo Tamma 2', cursive;
  --headings:'Bree Serif', serif;
  --headings2:'Josefin Sans', sans-serif;
}
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    margin-bottom: 10px;
    

}
#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  
}
.logo {
  margin: 10px 10px;
}
.logoimg {
  height: 70px;
  width: 70px;
  border-radius: 38px;
}
#navbar ul {
  display: flex;
}
.items {
  list-style: none;
  font-size: 1rem;
  font-family: var(--para-special);
}
.items a {
  color: white;

  padding: 5px 15px;
  text-decoration: none;
  margin: auto 5px;
  border-radius: 17px;
  transition-property: all;
  transition-duration: 1s;
}
.items a:hover {
  background-color: white;
  color: black;
}
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px;

  height: 350px;
}
#home::before {
  content: "";
  position: absolute;
  background: url("../bg1.jpg") no-repeat center center/cover;
  padding-top: 70px;
  height: 550px;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}

#heading1 {
  text-align: center;
  font-family: var(--mainhead);
  font-size: 3rem;
  color: #fff0f5;
}
#home p {
  text-align: center;
  font-family: var(--para-special);
  font-size: 1.18rem;
  color: #fff0f5;
}
.btn {
  margin: 30px;
  padding: 10px 40px;
  background-color: #ff6363;
  border-radius: 20px;
  border: 2px solid black;
  font-family: var(--para-special);
  font-size: 1.1rem;
  color: #fff0f5;
  box-shadow: 5px 2px 6px black;
}
.btn:hover {
  cursor: pointer;
  background-color: #fb7b6b;
}

#services-container {
  margin-top: 140px;
  padding-top: 10px;
  
  
}
.h-primary {
    font-family: var(--headings2);
  text-align: center;
  font-size: 2.8rem;
  color: #d63447;
}
.services {
  display: flex;
  margin: 17px;
  justify-content: center;
}

.box {
  margin: 50px;
  border: 3px solid rgb(124, 16, 16);
  border-radius: 20px;
  height: 400px;
  width: 300px;
  padding: 20px;
  text-align: center;
  background-color: #ffd3b6;
  color: black;
}
.services .box img {
  height: 80px;
  width: 110px;
}
.h2-secondary{
    font-family: var(--headings);
    font-size: 1.7rem;
}
.box p{
    font-family: var(--bodytext);
    font-size: 0.9rem;
}
#client-section{

    margin-top: 40px;
}
#client-section::before{
    content: "";
    position: absolute;
    
    background: url(../bg.jpg) no-repeat center center/cover;
    height: 400px;
    width: 100%;
    z-index: -1;
    opacity: 0.3;

    

}
#client-section .h-primary{
    padding: 30px;
}
#client{
    display: flex;
    justify-content: center;
    align-content: center;
    
    
}

.client-item img{

height: 150px;
width: 270px;
margin: 40px 40px;

    
}
#zomato{
    height: 170px;
    width: 170px;
    border-radius: 20px;
}
#swiggy{
    height: 235px;
    width: 218px;
    margin: 0px -1px auto;
}
#uber{
    height: 200px;
    width: 250px;
    margin-left: -10px;
    margin-top: 5px;
}

#contact-section::before{
    content: "";
    position: absolute;
    
    background: url(../contact.jpg) no-repeat center center/cover;
    height: 580px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    margin-top: 40px;
}
#contact-section .h-primary{
    padding:60px;
    color: black;
    
}
.contact-box{
    margin-top: -69px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.form-group{
    padding: 5px;
}

.contact-box input,
 
.contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

.contact-box form{
    height: 10%;
    width: 30%;
    
}
.contact-box form .submit{
  display: block;
  margin: auto;
  width: 30%;
  font-size: 20px;
  font-family: var(--bodytext);
  padding:0px;
}
.contact-box label{
   font-size: 1.3rem;
   font-family:var(--headings2);
   padding:5px;
   font-weight: bolder;
   margin: 5px;

}

footer{
  position: relative;
   bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 34, 34);
    color: white;
    font-family: var(--bodytext);
    font-size: 1rem;
    margin-top: 10px;
   
}


